/**
 * Common Definitions
 * Site Name
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@color_background: white;
@color_text: #333333;

@header_background: #98c21f;
@header_text: #4d4d4d;
@form_background: #e0e0e0;
@title_background: #6e6f71;
@title_text: white;
@banner_background: #d0262d;
@banner_text: white;

@input_background: white;
@input_text: @color_text;

@phone_color: white;

@arrow_size: 5px;

@border_radius: 0.2rem;
@section_spacing: 2rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: calc(~'0.5rem + 1px') 1rem;
@input_padding: 0.5rem;
@input_spacing: 1rem;
@finger_size: 2.5rem;
