/**
 * Mobile Content Style Sheet
 * Ono - Men's Campus
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	padding: @section_spacing;

	background-color: @header_background;
	color: @header_text;

	// person's name and image
	h2 {
		text-align: center;

		figure {
			display: block;
			margin: 0;
			margin-bottom: @header_spacing;
			padding: 0;

			img {
				border: 2px solid @color_background;
				border-radius: 50%;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
			}
		}
	}

	hr {
		width: 100px;

		margin-bottom: @header_spacing;
		border: 0;
		border-top: 1px solid @header_text;
	}

	// points
	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		text-align: center;

		li {
			position: relative;
			left: -@arrow_size;

			html[dir=rtl] & {
				left: auto;
				right: -@arrow_size;
			}

			&:before {
				display: inline-block;
				content: '';
				width: 0;
				height: 0;

				border: @arrow_size solid transparent;
				border-left-color: @color_background;

				line-height: 0;

				html[dir=rtl] & {
					border-left-color: transparent;
					border-right-color: @color_background;
				}
			}
		}
	}

	// phone number
	a.phone {
		position: absolute;
		top: @section_spacing;
		left: @section_spacing;
		padding: 2px;

		line-height: 95%;
		font-size: 1.5rem;

		border: 2px solid @phone_color;
		border-radius: 1em;

		color: @phone_color;
		text-decoration: none;

		transition: 0.3s all;

		html[dir=rtl] & {
			left: auto;
			right: @section_spacing;
			padding-right: 2px;
		}

		&:hover {
			background-color: @phone_color;
			color: @header_background;
		}

		span {
			display: none;
		}

		svg {
			display: inline-block;
			vertical-align: middle;
			width: @finger_size;
			height: @finger_size;

			fill: currentColor;
		}
	}
}

section#main {
	padding: 0;

	background-color: @form_background;

	h1 {
		margin: 0;
		padding: @section_spacing;

		background-color: @title_background;

		color: @title_text;
		text-align: center;
		line-height: 1;
	}

	> div {
		h3 {
			position: relative;
			overflow: hidden;
			margin: 0;
			padding: 0.5rem @section_spacing * 1.5;

			background-color: @banner_background;

			color: @banner_text;
			line-height: 1;
			text-align: center;
			font-size: 1.5rem;

			&:before {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				top: 50%;
				left: 0;

				border: 30px solid @title_background;
				border-right-color: @form_background;
				border-bottom-color: @form_background;

				line-height: 0;

				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:after {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				top: 50%;
				right: 0;

				border: 30px solid @title_background;
				border-right-color: @form_background;
				border-bottom-color: @form_background;

				line-height: 0;

				transform: translate(50%, -50%) rotate(45deg);
			}
		}
	}

	form {
		@text_size: 55px;
		@button_size: 100px;
		margin: 0;
		padding: @section_spacing;

		label {
			display: block;
			margin-bottom: @input_spacing;
			padding-left: @input_padding;

			border: 1px solid darken(@form_background, 40);
			border-radius: @border_radius;
			background-color: @input_background;

			color: @input_text;
			cursor: text;

			html[dir=rtl] & {
				padding-left: 0;
				padding-right: @input_padding;
			}

			span {
				display: inline-block;
				min-width: @text_size;
			}

			input {
				margin: 0;
				width: calc(~'100% - ' @text_size);
				box-sizing: border-box;
				padding: @input_padding;

				border: 0;
				border-radius: @border_radius;

				transition: 0.5s all;

				&:focus {
					background-color: mix(@input_background, @header_background, 80);
				}
			}
		}

		div.controls {
			padding: 0;
			text-align: center;

			button {
				margin: 0;
				padding: @button_padding;

				border: 0;
				border-radius: @border_radius;
				background-color: darken(@header_background, 5);

				text: @color_background;
				font-weight: bold;

				cursor: pointer;
				transition: 0.3s all;

				&:after {
					display: inline-block;
					content: '';
					width: 0;
					height: 0;
					margin-left: @arrow_size;

					border: @arrow_size solid transparent;
					border-left-color: currentColor;

					line-height: 0;

					html[dir=rtl] & {
						margin-left: 0;
						margin-right: @arrow_size;
						border-left-color: transparent;
						border-right-color: currentColor;
					}
				}

				&:hover {
					background-color: @header_background;
				}

				&:only-child {
					min-width: @button_size;
					box-sizing: border-box;
				}
			}
		}
	}
}

footer {
	padding: @section_spacing;

	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		text-align: center;

		li {
			position: relative;
			left: -@arrow_size;

			html[dir=rtl] & {
				left: auto;
				right: -@arrow_size;
			}

			&:before {
				display: inline-block;
				content: '';
				width: 0;
				height: 0;

				border: @arrow_size solid transparent;
				border-left-color: @header_background;

				line-height: 0;

				html[dir=rtl] & {
					border-left-color: transparent;
					border-right-color: @header_background;
				}
			}
		}
	}

	div#copyright {
		text-align: center;

		figure.logo {
			display: block;
			margin: 0;
			padding: @section_spacing;
			text-align: center;
		}

		div.copyright {
			display: inline-block;
			padding: 5px;
			padding-top: 55px;
			background-position: center top;

			font-size: 0.7em;
		}
	}
}
