/**
 * Content Style Sheet
 * Ono - Men's Campus
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	padding: @section_spacing calc(~'(100% - 400px) / 2');

	background-color: @header_background;
	color: @header_text;

	// person's name and image
	h2 {
		text-align: center;

		figure {
			display: block;
			margin: 0;
			margin-bottom: @header_spacing;
			padding: 0;

			img {
				border: 2px solid @color_background;
				border-radius: 50%;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
			}
		}
	}

	hr {
		width: 100px;

		margin-bottom: @header_spacing;
		border: 0;
		border-top: 1px solid @header_text;
	}

	// points
	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		text-align: center;

		li {
			position: relative;
			left: -@arrow_size;

			html[dir=rtl] & {
				left: auto;
				right: -@arrow_size;
			}

			&:before {
				display: inline-block;
				content: '';
				width: 0;
				height: 0;

				border: @arrow_size solid transparent;
				border-left-color: @color_background;

				line-height: 0;

				html[dir=rtl] & {
					border-left-color: transparent;
					border-right-color: @color_background;
				}
			}
		}
	}

	// phone number
	a.phone {
		position: absolute;
		top: @section_spacing;
		left: calc(~'(100% - 1200px) / 2');
		padding: 2px;
		padding-right: 0.5em;

		line-height: 95%;

		border: 2px solid @phone_color;
		border-radius: 1em;

		color: @phone_color;
		font-size: 2rem;
		font-weight: 800;
		text-decoration: none;

		transition: 0.3s all;

		html[dir=rtl] & {
			left: auto;
			right: calc(~'(100% - 1200px) / 2');
			padding-right: 2px;
			padding-left: 0.5em;
		}

		&:hover {
			background-color: @phone_color;
			color: @header_background;
		}

		span {
			display: inline-block;
			padding-top: 2px;
			vertical-align: middle;
		}

		svg {
			display: inline-block;
			vertical-align: middle;
			width: 1.2em;
			height: 1.2em;
			margin-right: 0.5em;

			fill: currentColor;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: 0.5em;
			}
		}
	}
}

section#main {
	padding: 0;

	background-color: @form_background;

	h1 {
		margin: 0;
		padding: @section_spacing calc(~'(100% - 1000px) / 2');
		padding-bottom: @section_spacing * 2;

		background-color: @title_background;

		color: @title_text;
		font-size: 3rem;
		font-weight: 800;
		text-align: center;
		line-height: 1;
	}

	> div {
		position: relative;

		h3 {
			@padding: 0.5rem;
			position: absolute;
			left: 50%;
			top: 0;
			max-width: 800px;
			margin: 0;
			padding: @padding @padding * 10;

			background-color: @banner_background;

			color: @banner_text;
			font-size: 2rem;
			text-align: center;
			line-height: 1;

			transform: translate(-50%, -50%);

			&:before {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				top: 50%;
				left: 0;

				border: 30px solid @title_background;
				border-right-color: @form_background;
				border-bottom-color: @form_background;

				line-height: 0;

				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:after {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				top: 50%;
				right: 0;

				border: 30px solid @title_background;
				border-right-color: @form_background;
				border-bottom-color: @form_background;

				line-height: 0;

				transform: translate(50%, -50%) rotate(45deg);
			}
		}
	}

	form {
		@text_size: 55px;
		@button_size: 100px;
		margin: 0;
		padding: @section_spacing calc(~'(100% - 1200px) / 2');
		padding-top: @section_spacing * 2;

		label {
			display: inline-block;
			vertical-align: top;
			margin-right: @input_spacing;
			padding-left: @input_padding;

			border: 1px solid darken(@form_background, 40);
			border-radius: @border_radius;
			background-color: @input_background;

			color: @input_text;
			cursor: text;

			html[dir=rtl] & {
				margin-left: @input_spacing;
				margin-right: auto;
				padding-left: 0;
				padding-right: @input_padding;
			}

			span {
				display: inline-block;
				min-width: @text_size;
			}

			input {
				margin: 0;
				padding: @input_padding;
				width: calc(~'((1200px - @{button_size}) / 4) - (@{input_spacing} * 3) - @{text_size}');
				box-sizing: border-box;

				border: 0;
				border-radius: @border_radius;

				transition: 0.5s all;

				&:focus {
					background-color: mix(@input_background, @header_background, 80);
				}
			}
		}

		div.controls {
			display: inline-block;
			vertical-align: top;
			padding: 0;

			button {
				margin: 0;
				padding: @button_padding;

				border: 0;
				border-radius: @border_radius;
				background-color: darken(@header_background, 5);

				text: @color_background;
				font-weight: bold;

				cursor: pointer;
				transition: 0.3s all;

				&:after {
					display: inline-block;
					content: '';
					width: 0;
					height: 0;
					margin-left: @arrow_size;

					border: @arrow_size solid transparent;
					border-left-color: currentColor;

					line-height: 0;

					html[dir=rtl] & {
						margin-left: 0;
						margin-right: @arrow_size;
						border-left-color: transparent;
						border-right-color: currentColor;
					}
				}

				&:hover {
					background-color: @header_background;
				}

				&:only-child {
					min-width: @button_size;
					box-sizing: border-box;
				}
			}
		}
	}
}

footer {
	padding: @section_spacing calc(~'(100% - 1000px) / 2');

	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
		list-style-image: none;

		text-align: center;

		li {
			position: relative;
			left: -@arrow_size;

			html[dir=rtl] & {
				left: auto;
				right: -@arrow_size;
			}

			&:before {
				display: inline-block;
				content: '';
				width: 0;
				height: 0;

				border: @arrow_size solid transparent;
				border-left-color: @header_background;

				line-height: 0;

				html[dir=rtl] & {
					border-left-color: transparent;
					border-right-color: @header_background;
				}
			}
		}
	}

	div#copyright {
		text-align: center;

		figure.logo {
			display: block;
			margin: 0;
			padding: @section_spacing;
			text-align: center;
		}

		div.copyright {
			display: inline-block;
			padding: 5px;
			padding-top: 55px;
			background-position: center top;

			font-size: 0.7em;
		}
	}
}

// tablet support
@media screen and (max-width: 1000px), screen and (max-width: 1000px) {
	header {
		padding: @section_spacing;

		a.phone {
			position: absolute;
			top: @section_spacing;
			left: @section_spacing;

			html[dir=rtl] & {
				left: auto;
				right: @section_spacing;
			}
		}
	}

	section#main {
		padding: 0;

		background-color: @form_background;

		h1 {
			font-size: 2rem;
		}

		> div {
			h3 {
				font-size: 1.5rem;
			}
		}

		form {
			@text_size: 55px;
			@button_size: 100px;
			padding: @section_spacing;
			padding-top: @section_spacing * 2;

			label {
				margin-bottom: @input_spacing;

				input {
					width: calc(~'(((100vw - ' @section_spacing * 2 ~' ) / 2) - ' @input_spacing ~' - 10px) - ' @text_size);
					box-sizing: border-box;
				}

				&:nth-of-type(2),
				&:nth-of-type(5),
				html[dir=rtl] &:nth-of-type(2),
				html[dir=rtl] &:nth-of-type(5) {
					margin: 0;
				}
			}

			div.controls {
				display: block;
				text-align: center;
			}
		}
	}
}
