/**
 * Main Style Sheet
 * Ono - Men's Campus
 *
 * Copyright (c) 2019. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'fonts.less';

@import 'content_mobile.less';

@import (css) 'stock/copyright_mobile.css';


body {
	background-color: @color_background;
	color: @color_text;

	font-family: generic;
}

input,
select,
textarea,
button {
	font-family: generic;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
